.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  height: 20vh;
  width: 90vw;
}
.keyboard-row {
  display: flex;
  gap: 0.4rem;
}
.key {
  color: white;
  width: 2rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 2.75rem;
  border: 0.1rem solid rgba(40, 40, 40, 0.226);
  border-radius: 0.3rem;
  background-color: rgb(133, 129, 129);
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.key:hover {
  background-color: rgb(40, 40, 40);
}
.key.wide {
  width: 6rem;
  font-size: 1rem;
}
.key.active {
  background-color: rgb(45, 45, 45);
  transition: background-color 0.1s ease;
}
.key.correct {
  background-color: rgb(11, 226, 11);
  color: white;
  transition: background-color 6s ease;
}
.key.present {
  background-color: gold;
  color: rgb(255, 255, 255);
  transition: background-color 6s ease;
}
.key.absent {
  background-color: rgb(40, 40, 40);
  color: white;
  transition: background-color 6s ease;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .key {
    width: 2.75rem;
    height: 3rem;
    padding: 1.25rem;
    font-size: 1.25rem;
  }

  .key.wide {
    width: 5.5rem;
    font-size: 0.95rem;
  }
}

@media (max-width: 600px) {
  .key {
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
    font-size: 1rem;
  }

  .key.wide {
    width: 5rem;
    font-size: 0.85rem;
  }

  .keyboard {
    height: auto;
    gap: 0.3rem;
  }

  .keyboard-row {
    gap: 0.3rem;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .key {
    width: 2.2rem;
    height: 2.2rem;
    padding: 1rem;
    font-size: 1rem;
  }

  .key.wide {
    width: 3.3rem;
    font-size: 0.85rem;
  }

  .keyboard {
    height: auto;
    gap: 0.3rem;
  }

  .keyboard-row {
    gap: 0.3rem;
  }
}

@media (max-width: 400px) {
  .key {
    width: 1rem;
    height: 1.5rem;
    padding: 1.02rem;
    font-size: 1rem;
  }

  .key.wide {
    width: 3rem;
    font-size: 0.8rem;
  }

  .keyboard {
    width: 100vw;
    padding: 0.5rem 0;
    gap: 0.3rem;
  }

  .keyboard-row {
    gap: 0.3rem;
  }
}
